{% macro render_logo(dc_path, dc_logo_label, dc_logo_path, dc_logo_link, dc_logo_class) %}
    {% if dc_logo_label or dc_logo_path %}
        <a href="{{ dc_logo_link ? dc_logo_link : '/' }}" class="{{ dc_logo_class }}">
            {% if dc_logo_path %}
                <img src="{{ dc_logo_path }}" alt="{{ dc_logo_label }}" class="logo-md height-md">
            {% else %}
                <div class="h3 c-diba">{{ dc_logo_label }}</div>
            {% endif %}
        </a>
    {% else %}
        <a href="https://diba.cat" title="Diputació de Barcelona" target="_blank" class="{{ dc_logo_class }}">
            <img src="{{ dc_path }}/logo.svg" alt="Diputació de Barcelona" class="logo-md height-md">
        </a>
    {% endif %}
{% endmacro %}

{% macro render_social(dc_path, dc_social_link, dc_social_title, dc_social_img) %}
    {% if dc_social_link %}
        <a href="{{ dc_social_link }}" title="{{ dc_social_title }}" target="_blank">
            <img src="{{ dc_path }}/assets/img/xarxes/{{ dc_social_img }}" alt="{{ dc_social_title }}" class="mr-1 logo-sm height-sm">
        </a>
    {% endif %}
{% endmacro %}
